<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>

    <h1><%= title %></h1>
    <ul>
        <% if (users) {%>
        <% users.forEach(user => { %>
            <li>
                ID: <%= user.id %>, First Name: <%= user.firstname %>, Last Name: <%= user.lastname %>, Email: <%= user.email %>
                <a href="/<%= user.id %>/update">Update</a>
            </li>                  
        <% }); %>
        <% } %>
    </ul>
    <a href="/create">Create a user</a>

    <!-- Delete users -->
    <% if (users) {%>
        <ul>
        <% users.forEach(function(user) { %>
            <li>ID: <%= user.id %>, First Name: <%= user.firstname %>, Last Name: <%= user.lastname %>, Email: <%= user.email %></li>
            <a href="/<%= user.id %>/update">Update</a>
            <!-- This time we're sending a POST request to our route, so we need a form. -->
            <form action="/<%= user.id %>/delete" method="POST" style="display:inline;">
            <button type="submit">Delete</button>
            </form>
        <% }); %>
        </ul>
    <% } %>
   
   <a href="/search">Search Users</a>
  

</body>
</html>