<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Express Crud App</title>
</head>
<body>

    <div class="container">
        <div class="max_width">
            <div class="form">
                <h1><%= title %></h1>
                <ul>
                    <% if (users) {%>
                    <% users.forEach(user => { %>
                        <div class="user">
                            <li>
                                <p><span>First Name:</span> <%= user.firstname %></p>
                                <p><span>Last Name:</span> <%= user.lastname %></p>
                                <p class="email"><span>Email:</span> <%= user.email %></p>
                            </li> 
                            <div class="buttons">
                                <a class="update" href="/<%= user.id %>/update">UPDATE</a>
                                <form action="/<%= user.id %>/delete" method="POST" style="display:inline;">
                                    <button class="delete" type="submit">DELETE</button>
                                </form>
                            </div>   
                        </div>
                    <% }); %>
                    <% } %>
                </ul>
                <div class="buttons background">
                    <a href="/create">CREATE A USER</a>
                    <a href="/search">SEARCH USERS</a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>