<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("partials/errors.ejs") %>

    <form action="/searchUsers" method="GET" style="display:inline;">
        <label for="searchName">User Name: </label>
        <input type="text" name="searchName" id="searchName" required>
        <button type="submit">Search</button>
    </form>
    
    <% if (users && users.length > 0) { %>
        <% users.forEach(user => { %>
            <p>ID: <%= user.id %></p>
            <p>First Name: <%= user.firstname %></p>
            <p>Last Name: <%= user.lastname %></p>
            <p>Email: <%= user.email %></p>
            <hr>
        <% }) %>
    <% } else { %>
        <p>No users found.</p>
    <% } %>
    
    <a href="/">Back to home</a>
    
</body>
</html>